USE [hr_management]
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 18/05/2026 9:35:13 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](20) NOT NULL,
	[last_name] [nvarchar](20) NOT NULL,
	[gender] [nvarchar](10) NOT NULL,
	[telephone] [varchar](11) NULL,
	[email] [varchar](50) NULL,
	[region] [nvarchar](20) NOT NULL,
	[hobbies] [nvarchar](200) NULL,
	[description] [nvarchar](200) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Personal] ON 

INSERT [dbo].[Personal] ([id], [first_name], [last_name], [gender], [telephone], [email], [region], [hobbies], [description], [created_at]) VALUES (1, N'John', N'Terry', N'Male', N'0909090909', N'john@example.com', N'Europe', N'Shopping, Cooking', N'Hello from Europe!', CAST(N'2026-05-18T19:26:08.930' AS DateTime))
INSERT [dbo].[Personal] ([id], [first_name], [last_name], [gender], [telephone], [email], [region], [hobbies], [description], [created_at]) VALUES (2, N'Jack', N'Jason', N'Male', N'0909090908', N'jack@example.com', N'Europe', N'Swimming, Sport', N'Love playing football.', CAST(N'2026-05-18T19:26:08.930' AS DateTime))
INSERT [dbo].[Personal] ([id], [first_name], [last_name], [gender], [telephone], [email], [region], [hobbies], [description], [created_at]) VALUES (3, N'Tom', N'Cruise', N'Male', N'0909090907', N'tom@example.com', N'America', N'Dance, Sing', N'Actor and traveler.', CAST(N'2026-05-18T19:26:08.930' AS DateTime))
SET IDENTITY_INSERT [dbo].[Personal] OFF
GO
ALTER TABLE [dbo].[Personal] ADD  DEFAULT ('Male') FOR [gender]
GO
ALTER TABLE [dbo].[Personal] ADD  DEFAULT (getdate()) FOR [created_at]
GO
