USE [polls_db]
GO
/****** Object:  Table [dbo].[answer]    Script Date: 18/05/2026 8:54:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[answer](
	[id] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[content] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[answer_user]    Script Date: 18/05/2026 8:54:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[answer_user](
	[id] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[voted_at] [datetime] NULL,
	[answer_id] [numeric](19, 0) NOT NULL,
	[user_id] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[poll]    Script Date: 18/05/2026 8:54:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poll](
	[id] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[description] [nvarchar](max) NULL,
	[name] [varchar](255) NOT NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[poll_question]    Script Date: 18/05/2026 8:54:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[poll_question](
	[id] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[order_index] [int] NULL,
	[poll_id] [numeric](19, 0) NOT NULL,
	[question_id] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[question]    Script Date: 18/05/2026 8:54:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question](
	[id] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[content] [varchar](500) NOT NULL,
	[is_multiple] [bit] NULL,
	[is_required] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[question_answer]    Script Date: 18/05/2026 8:54:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question_answer](
	[id] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[order_index] [int] NULL,
	[answer_id] [numeric](19, 0) NOT NULL,
	[question_id] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 18/05/2026 8:54:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[ip_address] [varchar](50) NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](20) NULL,
	[username] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[answer] ON 

INSERT [dbo].[answer] ([id], [content]) VALUES (CAST(1 AS Numeric(19, 0)), N'QFQUIFWQP')
INSERT [dbo].[answer] ([id], [content]) VALUES (CAST(2 AS Numeric(19, 0)), N'Ã¡ucjas')
SET IDENTITY_INSERT [dbo].[answer] OFF
GO
SET IDENTITY_INSERT [dbo].[answer_user] ON 

INSERT [dbo].[answer_user] ([id], [voted_at], [answer_id], [user_id]) VALUES (CAST(1 AS Numeric(19, 0)), CAST(N'2026-05-17T14:15:42.363' AS DateTime), CAST(1 AS Numeric(19, 0)), CAST(3 AS Numeric(19, 0)))
INSERT [dbo].[answer_user] ([id], [voted_at], [answer_id], [user_id]) VALUES (CAST(2 AS Numeric(19, 0)), CAST(N'2026-05-17T14:36:02.163' AS DateTime), CAST(2 AS Numeric(19, 0)), CAST(3 AS Numeric(19, 0)))
SET IDENTITY_INSERT [dbo].[answer_user] OFF
GO
SET IDENTITY_INSERT [dbo].[poll] ON 

INSERT [dbo].[poll] ([id], [created_at], [description], [name], [status]) VALUES (CAST(1 AS Numeric(19, 0)), CAST(N'2026-05-17T13:48:33.130' AS DateTime), NULL, N'LVLH', N'ACTIVE')
INSERT [dbo].[poll] ([id], [created_at], [description], [name], [status]) VALUES (CAST(2 AS Numeric(19, 0)), CAST(N'2026-05-17T14:35:49.937' AS DateTime), NULL, N'alhcslja', N'ACTIVE')
SET IDENTITY_INSERT [dbo].[poll] OFF
GO
SET IDENTITY_INSERT [dbo].[poll_question] ON 

INSERT [dbo].[poll_question] ([id], [order_index], [poll_id], [question_id]) VALUES (CAST(1 AS Numeric(19, 0)), 0, CAST(1 AS Numeric(19, 0)), CAST(1 AS Numeric(19, 0)))
INSERT [dbo].[poll_question] ([id], [order_index], [poll_id], [question_id]) VALUES (CAST(2 AS Numeric(19, 0)), 0, CAST(2 AS Numeric(19, 0)), CAST(2 AS Numeric(19, 0)))
SET IDENTITY_INSERT [dbo].[poll_question] OFF
GO
SET IDENTITY_INSERT [dbo].[question] ON 

INSERT [dbo].[question] ([id], [content], [is_multiple], [is_required]) VALUES (CAST(1 AS Numeric(19, 0)), N'RUIPWG', 1, 0)
INSERT [dbo].[question] ([id], [content], [is_multiple], [is_required]) VALUES (CAST(2 AS Numeric(19, 0)), N'auscj;', 0, 1)
SET IDENTITY_INSERT [dbo].[question] OFF
GO
SET IDENTITY_INSERT [dbo].[question_answer] ON 

INSERT [dbo].[question_answer] ([id], [order_index], [answer_id], [question_id]) VALUES (CAST(1 AS Numeric(19, 0)), 0, CAST(1 AS Numeric(19, 0)), CAST(1 AS Numeric(19, 0)))
INSERT [dbo].[question_answer] ([id], [order_index], [answer_id], [question_id]) VALUES (CAST(2 AS Numeric(19, 0)), 0, CAST(2 AS Numeric(19, 0)), CAST(2 AS Numeric(19, 0)))
SET IDENTITY_INSERT [dbo].[question_answer] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id], [created_at], [ip_address], [password], [role], [username]) VALUES (CAST(1 AS Numeric(19, 0)), CAST(N'2026-05-17T13:48:14.947' AS DateTime), N'127.0.0.1', N'123456', N'USER', N'demo')
INSERT [dbo].[user] ([id], [created_at], [ip_address], [password], [role], [username]) VALUES (CAST(2 AS Numeric(19, 0)), CAST(N'2026-05-17T13:48:14.953' AS DateTime), N'127.0.0.1', N'123456', N'ADMIN', N'admin')
INSERT [dbo].[user] ([id], [created_at], [ip_address], [password], [role], [username]) VALUES (CAST(3 AS Numeric(19, 0)), CAST(N'2026-05-17T14:15:42.277' AS DateTime), N'0:0:0:0:0:0:0:1', N'N/A', N'VOTER', N'voter_0:0:0:0:0:0:0:1_1779002142277')
SET IDENTITY_INSERT [dbo].[user] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_sb8bbouer5wak8vyiiy4pf2bx]    Script Date: 18/05/2026 8:54:47 pm ******/
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [UK_sb8bbouer5wak8vyiiy4pf2bx] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[answer_user]  WITH CHECK ADD  CONSTRAINT [FK61kqpdf8vqptfck0n1dtgymse] FOREIGN KEY([answer_id])
REFERENCES [dbo].[answer] ([id])
GO
ALTER TABLE [dbo].[answer_user] CHECK CONSTRAINT [FK61kqpdf8vqptfck0n1dtgymse]
GO
ALTER TABLE [dbo].[answer_user]  WITH CHECK ADD  CONSTRAINT [FKjqxnm5ffqgwlx0pqrrsnbxuwk] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[answer_user] CHECK CONSTRAINT [FKjqxnm5ffqgwlx0pqrrsnbxuwk]
GO
ALTER TABLE [dbo].[poll_question]  WITH CHECK ADD  CONSTRAINT [FKb6blg16whs6e7ri4of3opcadc] FOREIGN KEY([question_id])
REFERENCES [dbo].[question] ([id])
GO
ALTER TABLE [dbo].[poll_question] CHECK CONSTRAINT [FKb6blg16whs6e7ri4of3opcadc]
GO
ALTER TABLE [dbo].[poll_question]  WITH CHECK ADD  CONSTRAINT [FKoxwnmhtx8rf8pd6y94radafi9] FOREIGN KEY([poll_id])
REFERENCES [dbo].[poll] ([id])
GO
ALTER TABLE [dbo].[poll_question] CHECK CONSTRAINT [FKoxwnmhtx8rf8pd6y94radafi9]
GO
ALTER TABLE [dbo].[question_answer]  WITH CHECK ADD  CONSTRAINT [FKflwcda2rengsndju5f1deywok] FOREIGN KEY([question_id])
REFERENCES [dbo].[question] ([id])
GO
ALTER TABLE [dbo].[question_answer] CHECK CONSTRAINT [FKflwcda2rengsndju5f1deywok]
GO
ALTER TABLE [dbo].[question_answer]  WITH CHECK ADD  CONSTRAINT [FKil3pbbv488omhx2gkakco46yl] FOREIGN KEY([answer_id])
REFERENCES [dbo].[answer] ([id])
GO
ALTER TABLE [dbo].[question_answer] CHECK CONSTRAINT [FKil3pbbv488omhx2gkakco46yl]
GO
