USE [CyberManagement]
GO
/****** Object:  Table [dbo].[dichvu]    Script Date: 18/05/2026 8:45:53 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dichvu](
	[madv] [varchar](255) NOT NULL,
	[don_gia] [float] NOT NULL,
	[don_vi_tinh] [varchar](255) NULL,
	[tendv] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[madv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khachhang]    Script Date: 18/05/2026 8:45:53 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khachhang](
	[makh] [varchar](255) NOT NULL,
	[dia_chi] [varchar](255) NULL,
	[dia_chi_email] [varchar](255) NULL,
	[so_dien_thoai] [varchar](255) NULL,
	[tenkh] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[makh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[may]    Script Date: 18/05/2026 8:45:53 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[may](
	[ma_may] [varchar](255) NOT NULL,
	[trang_thai] [varchar](255) NULL,
	[vi_tri] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_may] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sudungdichvu]    Script Date: 18/05/2026 8:45:53 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sudungdichvu](
	[gio_su_dung] [varchar](255) NOT NULL,
	[madv] [varchar](255) NOT NULL,
	[makh] [varchar](255) NOT NULL,
	[ngay_su_dung] [date] NOT NULL,
	[so_luong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[gio_su_dung] ASC,
	[madv] ASC,
	[makh] ASC,
	[ngay_su_dung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sudungmay]    Script Date: 18/05/2026 8:45:53 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sudungmay](
	[gio_bat_dau_su_dung] [varchar](255) NOT NULL,
	[ngay_bat_dau_su_dung] [date] NOT NULL,
	[thoi_gian_su_dung] [int] NOT NULL,
	[may_ma_may] [varchar](255) NOT NULL,
	[khach_hang_makh] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[gio_bat_dau_su_dung] ASC,
	[khach_hang_makh] ASC,
	[may_ma_may] ASC,
	[ngay_bat_dau_su_dung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[dichvu] ([madv], [don_gia], [don_vi_tinh], [tendv]) VALUES (N'DV001', 10000, N'Chai', N'Nuoc Sting')
GO
INSERT [dbo].[khachhang] ([makh], [dia_chi], [dia_chi_email], [so_dien_thoai], [tenkh]) VALUES (N'KH00001', N'125/03 ngt', N'vtn12032004@gmail.com', N'0867867611', N'VoThanhNhan')
INSERT [dbo].[khachhang] ([makh], [dia_chi], [dia_chi_email], [so_dien_thoai], [tenkh]) VALUES (N'KH00002', N'125/03 ngt', N'nghia@gmail.com', N'0901234567', N'Tr?n Lâm Nghia')
GO
INSERT [dbo].[may] ([ma_may], [trang_thai], [vi_tri]) VALUES (N'MAY001', N'Available', N'Phong A')
GO
INSERT [dbo].[sudungdichvu] ([gio_su_dung], [madv], [makh], [ngay_su_dung], [so_luong]) VALUES (N'14:20', N'DV001', N'KH00001', CAST(N'2026-05-15' AS Date), 1)
INSERT [dbo].[sudungdichvu] ([gio_su_dung], [madv], [makh], [ngay_su_dung], [so_luong]) VALUES (N'14:20', N'DV001', N'KH00001', CAST(N'2026-05-17' AS Date), 1)
INSERT [dbo].[sudungdichvu] ([gio_su_dung], [madv], [makh], [ngay_su_dung], [so_luong]) VALUES (N'14:20', N'DV001', N'KH00001', CAST(N'2026-05-22' AS Date), 1)
GO
INSERT [dbo].[sudungmay] ([gio_bat_dau_su_dung], [ngay_bat_dau_su_dung], [thoi_gian_su_dung], [may_ma_may], [khach_hang_makh]) VALUES (N'09:30', CAST(N'2026-05-17' AS Date), 30, N'MAY001', N'KH00001')
GO
ALTER TABLE [dbo].[sudungdichvu]  WITH CHECK ADD  CONSTRAINT [FK1hn20fgojr4n9gktu4c6y5or1] FOREIGN KEY([madv])
REFERENCES [dbo].[dichvu] ([madv])
GO
ALTER TABLE [dbo].[sudungdichvu] CHECK CONSTRAINT [FK1hn20fgojr4n9gktu4c6y5or1]
GO
ALTER TABLE [dbo].[sudungdichvu]  WITH CHECK ADD  CONSTRAINT [FK3xc06efdk5xylbv6q8uckirce] FOREIGN KEY([makh])
REFERENCES [dbo].[khachhang] ([makh])
GO
ALTER TABLE [dbo].[sudungdichvu] CHECK CONSTRAINT [FK3xc06efdk5xylbv6q8uckirce]
GO
ALTER TABLE [dbo].[sudungmay]  WITH CHECK ADD  CONSTRAINT [FKb2sn7r67bnpl0rldcxqqe7j4a] FOREIGN KEY([khach_hang_makh])
REFERENCES [dbo].[khachhang] ([makh])
GO
ALTER TABLE [dbo].[sudungmay] CHECK CONSTRAINT [FKb2sn7r67bnpl0rldcxqqe7j4a]
GO
ALTER TABLE [dbo].[sudungmay]  WITH CHECK ADD  CONSTRAINT [FKcv0cg6wdn8jg85xhwry0asull] FOREIGN KEY([may_ma_may])
REFERENCES [dbo].[may] ([ma_may])
GO
ALTER TABLE [dbo].[sudungmay] CHECK CONSTRAINT [FKcv0cg6wdn8jg85xhwry0asull]
GO
